@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b1e1fc;

  /* ห้ามลบเด็ดขาด !! */
  overflow-x: hidden;
}
  /* ก็ห้ามลบอีกนั้นแหละ */
  html {
    scroll-behavior: smooth;
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  font-family: "Mali";
  font-weight: bold;
}
/* Home and About pages */
.clouding1 {
  position: absolute;
  animation: anihome 20s 6s infinite;
}
.clouding2 {
  position: absolute;
  animation: anihome 40s infinite;
}
.clouding3 {
  position: absolute;
  animation: aniabout 30s 3s infinite;
}
normal {
  color: red;
}
.eggrotate {
  transform: rotate(12.06deg);
}
/* - - - - - - - - - */

.test2 {
  position: relative;
  width: 100%;
}
.counter{
  position: relative;
}
.ac{
  position: absolute;
  display: block;
  right: 40%;
  top: 10%;
  width: 20%;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.25));
}
.cloud3{
  position: absolute;
  display: block;
  top:5%;
  right: 58%;
  height:30%; 
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(5.4deg);
}
.rabbit4 {
  position: absolute;
  display:block;
  text-align: center;
  top:30%;
  right: 45%;
  width :17%;
  height:52%; 
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.25));
  }
  img.rabbit4:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
.cloud2{
  position: absolute;
  display:block;
  top:60%;
  right: 75%;
  height:40%; 
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.25));
}
.cloud2l{
  position: absolute;
  display:block;
  top:-3%;
  left: 70%;
  height:30%; 
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.25));
}
.br{
  position: absolute;
  display:block;
  top:-10%;
  right: -0%;
  height:35%; 
  /* filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.25)); */
}
.footer{
  width: 100%;
  background-color: #FFE3AC;
  padding: 3em;
}
.footer h2{
  margin-top:1em;
  font-family: Mali;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 23px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer p{
  font-family: Mali;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 18px;
  text-align: center;
  margin:2em;
  margin-top:1.5em;
  color: #000000;
}
.flex{
  display:flex;
}
.content-center{
  justify-content: center;
}

/* Keyframes for home and about pages */
@keyframes anihome {
  0%{ left: -30vh;}
  25%{ left: -25vh;}
  50%{ left: -30vh;}
  75%{ left: -25vh;}
  100%{ left: -30vh;}
}
@keyframes aniabout {
  0%{ left: -35vh;}
  25%{ left: -25vh;}
  50%{ left: -35vh;}
  75%{ left: -25vh;}
  100%{ left: -35vh;}
}
/* - - - - - - - - */

.counter2{
  position: relative;
  height: 100%;
  min-height: 100vh;
}
.rabbit-fly{
  position: absolute;
  right: 42%;
  top:30%;
  width :20%;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.25));
}
.draw4{
  width :80%;
  /* border: 1px dashed #000000; */
  border-radius: 50px;
  padding: 2em ;
  border: 2px dashed #333333;
  padding: 30px;
}
.rectangle{
  position: absolute;
  background-color: lightpink;
  border-radius: 50px;
  padding: 10px;
  width : 30%;
  height: 45%;
  right: 63%;
  top: 30%;
}
.rectangle2{
  position: absolute;
  background-color: lightpink;
  border-radius: 50px;
  padding: 10px;
  width :30%;
  height: 45%;
  right: 10%;
  top:30%;
}
.border-bew{
  border: 1px dashed #000000;
  border-radius: 50px;
}
.content-around{
  justify-content: space-around;
}

.ac1{
  width: 100%;
  padding: 1em;
}
.ac1 p{
  font-family: Mali;
  font-style: normal;
  font-weight: normal;
  font-size: .75em;
  line-height: 18px;
  text-align: center;
  margin:1em;
  margin-top:1.5em;
  color: #000000;
}
.easter1{
  width :75%;
  border-radius: 50px;
  padding: 2em ;
  border: 2px dashed #333333;
  padding: 30px;
}
.bird2 {
  position: absolute;
  width: 17%;
  left: 202.89px;
  right: 10.11px;
  top: 50.45px;
  transform: rotate(-16.07deg);
  z-index: 1;
}